{% extends "base.html" %}

{% block title %}Войти{% endblock %}

{% block content %}
	<h1>Войти в систему</h1>
	<form action="{% url "login" %}" method="post">
		<div class="login_form_fields">
			{% for field in login_form %}
				<div class="form_field">
					<label for={{ field.id_for_label }}>{{ field.label }}</label>
					<p>{{ field }}</p>
				</div>
				<div class="errors">{{ field.errors }} </div>
			{% endfor %}
		</div>
		{% csrf_token %}
		<p><input type="submit" value="Войти"></p>
	</form>
{% endblock %}