{% extends "base.html" %}
{% block title %}
    Панель управления тестами
{% endblock title %}
{% block content %}
    <h1>Панель управления тестами</h1>
    <div class="buttons test-panel-buttons">
        <a class="button" href="{% url "tests:home" %}">Главная</a>
        <a class="button" href="{% url "tests:create-test" %}">Создать тест</a>
    </div>
    <div>
        {% if tests %}
            {% for test in tests %}
                <div class="test-card-attempt"
                     href="{% url "tests:test-attempt" test.id %}">
                    <h3>{{ test.title }}</h3>
                    <div class="test-card-inf">
                        <div class="test-card-description">
                            <p>{{ test.description }}</p>
                        </div>
                        <div class="test-card-small_inf">
                            <p>Количество попыток - {{ test.attempt_limit }}</p>
                            <p>{{ test.author }}</p>
                        </div>
                    </div>
                    <a class="button delete" href="{% url "tests:test-delete" test.id %}">Удалить</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="test-card">Упс, но тестов пока нет</div>
        {% endif %}
        {% comment %}
        <div class="tests-list">
            {% if tests %}
                {% for test in tests %}
                    <div class="test-card">
                        <p>{{ test.title }}</p>
                        <form action="{% url "tests:test-delete" test.id %}" method="get">
                            <input type="hidden" name="user_id" value="{{ test.id }}">
                            {% csrf_token %}
                            <input type="submit" value="Удалить">
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <div class="test-card">
                    <p>У вас пока нет тестов</p>
                </div>
            {% endif %}
        </div> {% endcomment %}
    </div>
{% endblock content %}
