{% extends "base.html" %}
{% block title %}
    Тесты - Главная
{% endblock title %}
{% block content %}
    <h1>Здравствуйте {{ request.user.username }}</h1>
    <div class="buttons-list">
        <div class="buttons home-buttons">
            <a class="button" href="{% url "tests:list" %}">Список тестов</a>
            {% if request.user.is_admin %}
                <a class="button" href="{% url "tests:control-panel" %}">Панель управления тестами</a>
            {% endif %}
        </div>
    </div>
    <div class="tests-list">
        {% if attempts %}
            {% for attempt in attempts %}
                <a class="attempt-card test-card-link {% if attempt.score == 2 %} attempt-fail {% elif attempt.score == 5 %} attempt-pass {% endif %}"
                   href="{% url "tests:attempt-result" attempt.id %}">
                    <h3>{{ attempt.test.title }} Попытка №{{ attempt.attempt_number }}</h3>
                    <div class="attempt-card-inf">
                        <div>
                            <p>Оценка - {{ attempt.score }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="test-card">Вы не проходили ни одного теста</div>
        {% endif %}
        <a class="button" href="{% url "user:home" %}">Главная</a>
    </div>
{% endblock content %}
