{% extends "base.html" %}
{% block title %}
    Тесты - Выберите категорию
{% endblock title %}
{% block content %}
    <h1>Выберите категорию</h1>
    <div class="tests-list">
        {% if tests_categories %}
            {% for category in tests_categories %}
                <a class="test-card-attempt test-card-link"
                   href="{% url link_name category.name %}">
                    <h3>{{ category.name }}</h3>
                    <div class="test-card-inf">
                        <div class="test-card-description">
                            <p>{{ category.description }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="test-card">Упс, но категорий пока нет</div>
        {% endif %}
    </div>
{% endblock content %}
