{% extends "base.html" %}
{% block title %}
    Тесты - Список тестов
{% endblock title %}
{% block content %}
    <h1>Выберите тест</h1>
    <div class="tests-list">
        {% if tests %}
            {% for test in tests %}
                <a class="test-card-attempt test-card-link"
                   href="{% url "tests:list-passed-users" category test.id %}">
                    <h3>{{ test.title }}</h3>
                    <div class="test-card-inf">
                        <div class="test-card-description">
                            <p>{{ test.description }}</p>
                        </div>
                        <div class="test-card-small_inf">
                            <p>Количество попыток - {{ test.attempt_limit }}</p>
                            <p>{{ test.author }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="test-card">Упс, но тестов пока нет</div>
        {% endif %}
    </div>
{% endblock content %}
