body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: auto;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.users-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.user-card {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: green;
  color: white;
}
.user-blocked {
  background-color: red;
}
.form_field {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.form_field label {
  font-weight: bold;
  margin-right: 10px;
}
.form_field input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.errors {
  color: red;
  font-weight: bold;
}
input[type="submit"] {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background-color: #e3e3e3;
  color: #000000;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
