{% extends "base.html" %}

{% block title %}Сменить пароль{% endblock title %}

{% block content %}
	<h1>Сменить пароль</h1>
	<form action="{% url "user:change-password" %}" method="post">
		{% comment %} <div class="form_fields">
			{% for field in change_password_form %}
				<p><label for={{ field.id_for_label }}>{{ field.label }}</label> {{ field }} </p>
				<div>{{ field.errors }} </div>
			{% endfor %}
		</div> {% endcomment %}
		<div class="login_form_fields">
			{% for field in change_password_form %}
				<div class="form_field">
					<label for={{ field.id_for_label }}>{{ field.label }}</label>
					<p>{{ field }}</p>
				</div>
				<div class="errors">{{ field.errors }} </div>
			{% endfor %}
		</div>
		{% csrf_token %}
		<p><input type="submit" value="Сменить пароль"></p>
		<p><a href="{% url "user:home" %}">Главная</a></p>
	</form>
{% endblock content %}