{% extends "base.html" %}

{% block title %}Здравствуйте {{ request.user.username }}{% endblock  %}

{% block content %}
	<h1>Здравствуйте {{ request.user.username }}</h1>
	
	<div class="form_fields"><a href="{% url "user:change-password" %}">Поменять пароль</a></div>
	
	{% if request.user.is_admin %}
		<p><a href="{% url "user:register" %}">Зарегестрировать пользователя</a></p>
		
		<div class="users-list">
			<p> Список пользователей </p>
			{% for user in users %}
				<div class="user-card {% if user.is_blocked %}user-blocked{% endif %}">
					<p>{{ user.username }}
					<form action="{% url "user:user-update" %}" method="post">
						<input type="hidden" name="user_id" value="{{ user.id }}">
						{% csrf_token %}
						{% if user.is_blocked %}
							<input type="submit" value="Разблокировать">
						{% else %}
							<input type="submit" value="Заблокировать">
						{% endif %}
					</form>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	
	<p><a href="{% url "user:logout" %}">Выйти из системы</a></p>
	
{% endblock  %}
