{% extends "base.html" %}
{% block title %}
    Здравствуйте {{ request.user.first_name }}
{% endblock title %}
{% block content %}
    <h1>Здравствуйте {{ request.user.first_name }}</h1>
    <div class="buttons-list">
        <div class="buttons home-buttons">
            <a class="button" href="{% url "theory:list" %}">Теория</a>
            <a class="button" href="{% url "tests:home" %}">Тесты</a>
        </div>
        <div class="buttons home-buttons">
            <a class="button" href="{% url "user:change-password" %}">Поменять пароль</a>
        </div>
    </div>
    <p>
        <a href="{% url "user:logout" %}">Выйти из системы</a>
    </p>
{% endblock content %}
