{% extends "base.html" %}
{% block title %}
    Регистрация
{% endblock title %}
{% block content %}
    <h1>Зарегистрировать пользователя</h1>
    <form action="." method="post">
        <div class="login_form_fields">
            {% for field in user_form %}
                <div class="form_field">
                    <label for={{ field.id_for_label }}>{{ field.label }}
                    </label>
                    <p>{{ field }}</p>
                </div>
                <div class="errors">{{ field.errors }}</div>
            {% endfor %}
            <p>
                <input type="submit" value="Зарегистрировать пользователя">
            </p>
            <p>
                <a href="{% url "user:home" %}">Главная</a> | <a href="{% url "user:login" %}">Форма авторизации</a>
            </p>
            {% csrf_token %}
        </div>
    </form>
{% endblock content %}
